.contents__items{ data: { message: { id: message.id } } }
  .contents__items__user-name
    = message.user.nickname
  .contents__items__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.contents__message{ data: { message: { id: message.id } } }
  - if message.body.present?
    %p
      = message.body
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?