@import "config/margin";

.chat-main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;
  &__group-info{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .group-detail{
      margin-left: $main-margin;
      &__name{
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__member{
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    .edit{
      width: 72px;
      margin-right: $main-margin;
      a{
        text-decoration: none;
        .edit__btn{
          color: #38aef0;
          font-size: 16px;
          border: 1px solid #38aef0;
          margin-top: 28px;
          width: 100%;
          height: 40px;
          text-align: center;
          line-height: 40px;
        }
      }
    }
  } 
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    width: 100%;
    overflow: scroll;
    .contents{
      padding-left: $main-margin;
      padding-top: 35px;
      &__items{
        display: flex;
        margin-bottom: 12px;
        &__user-name{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__message{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    width: 100%;
    form{
      display: flex;
      justify-content: space-between;
      .form-items{
        display: flex;
        position: relative;
        align-items: center;
        &__text{
          height: 50px;
          width: calc(100vw - #{$main-margin} - 100px - #{$main-margin} - 15px - 300px);
          padding-left: 10px;
          margin: 20px 0px 20px $main-margin;
          position: relative;
          align-items: center;
        }
        label{
          position: absolute;
          right: 10px;
          .form-items__image{
            display: none;
          }
        } 
      }
      .send-btn{
        width: 100px;
        height: 50px;
        margin: 20px $main-margin 20px 15px;
        background-color: #38aef0;
        color: #ffffff;
        line-height: 50px;
        text-align: center;
      }
    }
  } 
} 

